<div id="templateContent" name="templateContent">
	<table id="emailList" name="emailList">
		<thead>
			<tr id="header" name="header">
				<td><span id="date" name="date">Date</span></td>
				<td><span id="sender" name="sender">Sender</span></td>
				<td><span id="subject" name="subject">Subject</span></td>
			</tr>
		</thead>
		<tbody data-bind="foreach: model.data.messages">
			<tr id="message" name="message">
				<td><span id="date" name="date" data-bind="text: $data.date"></span></td>
				<td>
					<a href="#" id="messageTo" name="messageTo" data-bind="attr: {href: 'mailto:'+$data.senderEmail}">
						<span id="sender" name="sender" data-bind="text: $data.senderName"></span>
					</a>
				</td>
				<td>
					<a href="#" id="messageId" name="messageId" data-bind="attr: {href: $data.link}, click: $data.click">
						<span id="subject" name="subject" data-bind="text: $data.subject"></span>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
