<div id="templateContent" name="templateContent">
	<div id="from" name="from" data-bind="html: model.data.message.from">
	</div>
	<div id="cc" name="cc" data-bind="html: model.data.message.cc">
	</div>
	<div id="bcc" name="bcc" data-bind="html: model.data.message.bcc">
	</div>
	<div id="date" name="date" data-bind="html: model.data.message.date">
	</div>
	<div id="subject" name="subject" data-bind="html: model.data.message.subject">
	</div>
	<div id="body" name="body" data-bind="html: model.data.message.body">
	</div>
</div>