<div id="templateContent" name="templateContent">
	<div id="from" name="from" data-bind:"html: model.data.messages.from">
	</div>
	<div id="cc" name="cc" data-bind:"html: model.data.messages.cc">
	</div>
	<div id="bcc" name="bcc" data-bind:"html: model.data.messages.bcc">
	</div>
	<div id="date" name="date" data-bind:"html: model.data.messages.date">
	</div>
	<div id="subject" name="subject" data-bind:"html: model.data.messages.subject">
	</div>
	<div id="body" name="body" data-bind:"html: model.data.messages.body">
	</div>
</div>