<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "globals", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "require-2.1.11", media: "all", "data-turbolinks-track" => true , "data-main" => "/assets/data-main" %>
  
</head>
<body>

<%= yield %>

</body>
</html>