<!DOCTYPE html>
<html>
<head>
	<%= csrf_meta_tags %>
	<%= javascript_include_tag "globals", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "require-2.1.11", media: "all", "data-main" => "/assets/data-main-windowslive",  "data-turbolinks-track" => true %>

</head>
<body>
	<div id="errorInfo" name="errorInfo"></div>

	<%= yield %>

</body>
</html>