<div id="templateContent" name="templateContent">
	<h1> Account Manager (Example7)</h1>
	<br/>
	<p id="readme" name="readme">
		*****************************************************<br/>
		*   Simple self-contain web application to learn <br/>
		*	KnockoutJS, RequireJS, text and toastr javascript <br/>
		*	frameworks. <br/>
		*<br/>
		* 	In the previous examples, I did the following:<br/>
		*<br/>
		*	1) Included Telerik Fiddler because the hosts file <br/>
		*	   on most public computers, library, are read-only.<br/>
		*	   It allows me to override the hosts file. Look<br/>
		*	   under the Tools - HOSTS.<br/>
		*	2) Configured Windows Live API with root domain. Now<br/>
		*	   I can begin the oauth2 access and authorization <br/>
		*	   flow.<br/>
		*<br/>
		*	Here's what to expect from this example:<br/>
		*<br/>
		*   1) Complete OAuth2 flow with Windows Live (WL) API<br/>
		*	2) User Session tracking <br/>
		*	3) Access the user's basic WL info<br/>
		*<br/>
		*<br/>
		*****************************************************<br/>
	</p>
	<br />
	<table style="min-width:400px">
	<tr>
		<td>results.data:</td>
		<td>
			<ul data-bind="foreach: results.data">
				<li><span data-bind="text: $data.name + '=>' + $data.description"/></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>results.moreData:</td>
		<td>
		<ul data-bind="foreach: results.moreData">
			<li><span data-bind="text: $data.name + '=>' + $data.description"/></li>
		</ul>
		</td>
	</tr>
</table>

</div>
