<!-- Default page partial view -->
<div style="position: absolute; top: 20px; left:2em;">
<a href="#/about" class="">About</a> 
<a data-ng-click="stub(this)" class="pageLink" >Stub Link</a>
</div>  
   
<p class="error" data-ng-show="error">{{error}}</p>
<button data-ng-click="stub(this)">Stub Button</button>
<br/>
<div>
	<span data-ng-model="response.metaData.developer"/>
	<span data-ng-model="response.metaData.description"/>
	<span data-ng-model="response.metaData.email"/>
	<span data-ng-model="response.metaData.state"/>
	<span data-ng-model="response.metaData.todo"/>
</div>
<div>
	<p class="error" data-ng-model="error">{{error}}</p>
</div>
