<h1>Header Todo List</h1>
<ul>
	<li>Style via css</li>
	<li>Apply any binding</li>
	<li>Create the registeration</li>
</ul>

<br/>

<div id="header" name="header">
	<img id="logo" name="logo" src="/images/logo.jpg" alt="Header Logo"/>
	<span id="name" id="name">Account Manager</span>
	<div id="user" name="user">
		<form id="login" name="login" method="post" action="#login">
			<input id="name" name="name" type="text" data-bind="text: username"/>
			<input id="password" name="password" type="password" data-bind="text: password"/>
			<button id="login" name="login">Login</button>
			<button id="register" name="register">Register</button>
		</form>
	</div>
</div>
<br/>
