<section id="header" name="header">
	<div id="header" name="header">
		<div id="banner" name="banner">
			<img id="logo" name="logo" src="/images/logo.jpg" alt="Header Logo"/>
			<span id="name" id="name">Account Manager</span>
		</div>
		
		<div id="session" name="session">	
			<div id="user" name="user"></div>
			<button id="status" name="status">Unknown</button>			
		</div>		
	</div>
</section>

<section id="navigation" name="navigation">
	<div id="navigation" name="navigation">
		<!-- 
			NOTE: The hash, #name, attached to href attribute
				  prevents a post back to the server. This is
				  fine but we still need to post which view we 
				  need. So add the href value to hidden	form 
				  field and submit the form.
				  
				  Add onclick event to a tag and perform the 
				  work need.			  
		-->	
		
		<a id="home" name="home" class="navigationItem" href="#home">Home</a>
				
		<a id="mail" name="mail" class="navigationItem" href="#mail">Mail</a>
		
		<a id="folders" name="folders" class="navigationItem" href="#folders">Folders &amp; Files</a>

	</div>
</section>

<section id="content" name="content">		
</section>

<section id="footer" name="footer">
	<div id="footer" name="footer">
		<a id="privacy" name="privacy" class="navigationItem" href="#privacy">Privacy</a>
		
		<a id="terms" name="terms" class="navigationItem" href="#terms">Terms</a>
	</div>
</section>