<h1>Header Todo List</h1>
<ul>
	<li>Style via css</li>
	<li>Apply any binding</li>
	<li>Create the registeration</li>
</ul>

<br/>

<div id="header" name="header">
	<img id="logo" name="logo" src="/images/logo.jpg" alt="Header Logo"/>
	<span id="name" id="name">Account Manager</span>
	<!-- ko ifnot: user.isAuthenticated -->
		<div id="user" name="user">
			<form id="login" name="login" method="post" action="#login">
				<input id="userName" name="userName" type="text" data-bind="text: user.userName"/>
				<input id="password" name="password" type="password" data-bind="text: user.password"/>
				<button id="login" name="login" data-bind="click: user.login, clickBubble: false">Login</button>
				<button id="register" name="register" data-bind="click: user.register, clickBubble: false">Register</button>
			</form>
		</div>
	<!-- /ko -->
	
	<!-- ko if: user.isAuthenticated -->
	<div id="user" name="user">
		Welcome back <span data-bind="value: user.userName"/>!
	</div>
	<!-- /ko -->
</div>
<br/>
