
<div id="templateContent" name="templateContent">
	<h1>Register Todo List</h1>

	<div id="register" name="register">
		First name: <input id="firstName" name="firstName" type="text" data-bind="value: user.firstName"/>
		Last name: <input id="lastName" name="lastName" type="text" data-bind="value: user.lastName"/>
		Username (email): <input id="userName" name="userName" type="email" data-bind="value: user.userName"/>
		Password: <input id="password" name="password" type="password" data-bind="value: user.password"/>
		Password Confirmed: <input id="passwordConfirmation" name="passwordConfirmation" type="password" data-bind="value: user.passwordConfirmation"/>
		
		<input type="button" value="Register" data-bind="click: user.register(); />
	</form>
</div>