<!DOCTYPE html>
<html>
<head>
  <title>Example6</title>
  <%= stylesheet_link_tag "toastr.min", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "acctmgr", media: "all", "data-turbolinks-track" => true %>
  
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
  
</head>
<body>

<%= yield %>

</body>
</html>
